.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.wrapper h1 {
  color: var(--color-heading);
}
.wrapper .wrapper-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper table {
  border: 2px solid var(--border-table);
  width: 650px;
  height: 200px;
}
.wrapper th {
  border-bottom: 1px solid var(--border-bottom-cell);
  padding: 1rem 0;
}
.wrapper tr:nth-child(even) {
  background-color: var(--background-table-even);
  color: var(--color-text-even);
}
.wrapper td {
  text-align: center;
}